@import '../../../../styles.scss';

.detail-container{
    .height-70{
        height: 70%;
    }
    .sticky-item{
        position: sticky;
        top: 10px;
    }
    .product-container{
        .space{
            .thumbnail{
                width: 40px;
                height: 40px;
            }
            h4,h5,h6{
                margin-bottom: 0 !important;
            }
            padding: 15px;
            .product-img{
                margin: 5px 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .show-img{
                    width: 100%;
                    height: 22rem;
                    border: 1px solid #e5e4e4;
                    border-radius: 8px;
                }
            } 
            .show-img-small{
                width: 70px;
                height: 70px;
                border: 1px solid #e5e4e4;
                border-radius: 8px;
                &:hover{
                    border: 2px solid #468add;
                }
            }
            .shop-info{
                h5{
                    margin-bottom: 0;
                }
                .border{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    .product-detail{
        background-color: #efefef !important;
        margin-bottom: 15px;
        .column-data{
            background-color: #fff;
            border-radius: 8px;
            .content{
                max-height: 300px;
                overflow: hidden;
                transition: max-height 0.3s ease-in-out;
            }
            #toggle-content{
                color: #3abfda;
                cursor: pointer;
            }
        }
        .content.expanded{
            max-height: unset !important;
        }
    }
}