<div class="col-md-12 p-1">
  <form [formGroup]="addEditForm">
    <div class="col-md-12 mb-5">
      <h2>Thêm mới danh mục</h2>
    </div>
    <div class="content">
      <div class="col-md-12 d-flex row-gap-1">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <label>Ảnh đại diện</label>
              <app-upload-image
                [isView]="isView"
                [filePath]="avatarPath"
                [ngClass]="isView ? 'disabled-input' : ''"
                (uploadEvent)="doChangeFile($event)"
              ></app-upload-image>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row row-gap-3">
            <div class="col-md-3">
              <label>Tên danh mục <span class="text-danger">*</span></label>
              <input
                type="text"
                nz-input
                formControlName="name"
                placeholder="Tên danh mục"
                [ngClass]="isView ? 'disabled-input' : ''"
              />
            </div>
            <div class="col-md-3">
              <label>Mã danh mục <span class="text-danger">*</span></label>
              <input
                [ngClass]="isView ? 'disabled-input' : ''"
                type="text"
                nz-input
                formControlName="code"
                placeholder="Mã danh mục"
              />
            </div>
            <div class="col-md-3">
              <label>Mô tả </label>
              <input
                [ngClass]="isView ? 'disabled-input' : ''"
                type="text"
                nz-input
                formControlName="description"
                placeholder="Mô tả"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-3">
          <button
            *ngIf="!id && !isView"
            nz-button
            nzType="primary"
            class="me-2"
            (click)="doCreateOrUpdateCategory()"
          >
            <nz-icon nzType="plus" />
            Thêm mới
          </button>
          <button
            *ngIf="id && !isView"
            nz-button
            nzType="primary"
            class="me-2"
            (click)="doCreateOrUpdateCategory()"
          >
            <nz-icon nzType="edit" />
            Cập nhật
          </button>
          <button nz-button nzType="default" class="me-1" (click)="back()">
            <nz-icon nzType="arrow-left" nzTheme="outline" />
            Quay lại
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
