<div class="col-md-12 row justify-content-center">
    <div class="col-md-10 row pt-3 pb-3">
        <div class="col-md-3">
            <p class="fw-bold">Hỗ trợ khách hàng</p>
            <p class="text-break fw-light footer-text-size-small">Hotline: 1900-6035<br/>
               (1000 đ/phút, 8-21h kể cả T7, CN)</p>
            <p class="text-break fw-light footer-text-size-small">Các câu hỏi thường gặp</p>
            <p class="text-break fw-light footer-text-size-small">Gửi yêu cầu hỗ trợ</p>
            <p class="text-break fw-light footer-text-size-small">Hướng dẫn đặt hàng</p>   
            <p class="text-break fw-light footer-text-size-small">Phương thức vận chuyển</p>
        </div>
        <div class="col-md-3">
            <p class="fw-bold">Về Tiki</p>
            <p class="text-break fw-light footer-text-size-small">Giới thiệu Tiki</p>
            <p class="text-break fw-light footer-text-size-small">Tiki Blog</p>
            <p class="text-break fw-light footer-text-size-small">Tuyển dụng</p>
            <p class="text-break fw-light footer-text-size-small">Chính sách bảo mật thanh toán</p>   
            <p class="text-break fw-light footer-text-size-small">Chính sách bảo mật thông tin cá nhân</p>
        </div>
        <div class="col-md-3">
            <p class="fw-bold">Hợp tác và liên kết</p>
            <p class="text-break fw-light footer-text-size-small">Quy chế hoạt động Sàn GDTMĐT</p>
            <p class="text-break fw-light footer-text-size-small">Bán hàng cùng Tiki</p>
            <p class="fw-bold">Chứng nhận bởi</p>
            <div class="d-flex gap-1">
                <img class="footer-icon" src="/img/bo-cong-thuong.png" />
                <img class="footer-icon bigger" src="/img/dk-bo-cong-thuong.svg" />
                <img class="footer-icon" src="/img/dmca_protected.png" />
            </div>
        </div>
        <div class="col-md-3">
            <p class="fw-bold">Phương thức thanh toán</p>
            <div class="d-flex gap-2">
                <img class="footer-icon" src="/logo/MoMo_Logo.png" />
                <img class="footer-icon" src="/logo/viettel_money.png" />
                <img class="footer-icon" src="/logo/vnpay_logo.png" />
                <img class="footer-icon" src="/logo/atm_card.png" />
            </div>
        </div>
    </div>
</div>
