<div class="pt-5 pb-5 ps-5 pe-5">
    <div class="d-flex gap-3 justify-content-center">
        <div class="col-md-2">
            <div class="rounded bg-white p-2">
                <h5>Danh mục</h5>
                <div class="text-button-grey" *ngFor="let item of lstCategory">
                    <div class="d-flex align-items-center gap-2">
                        <img src="{{item.thumbnail}}" style="width: 32px;height: 36px;">
                        <span class="h6">{{item.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="rounded bg-white carousel-banner">
                <nz-carousel nzAutoPlay>
                  @for (index of lstBanner; track index) {
                    <div nz-carousel-content>
                       <img src="{{index.img}}">
                    </div>
                  }
                </nz-carousel>
                
            </div>
            <div class="rounded bg-white mt-3 default-style">
                <div class="d-grid" [ngStyle]="{'grid-template-columns': 'repeat(' + lstCategory.length + ', 1fr)'}">
                    <div class="categories-item" *ngFor="let item of lstCategory">
                        <div class="d-flex justify-content-center flex-column text-center gap-2">
                            <div>
                                <img src="{{item.thumbnail}}" style="width: 50px;height: 50px;border-radius: 8px;">
                            </div>
                            <span class="h6">{{item.name}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <app-product-group title="Bạn có thể thích" [lstProduct]="lstProduct"></app-product-group>

            <app-product-group title="Thương hiệu nổi bật" [lstProduct]="lstProduct"></app-product-group>

        </div>
    </div>
    
</div>
