@import '../../../../styles.scss';

.carousel-banner{
    width: 100%;
    height: 25rem;
    padding: 15px;
    img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}
.default-style{
    width: 100%;
    padding: 25px 15px;
}

.categories-item{
    &:hover{
        cursor: pointer;
    }
}
::ng-deep .ant-input-affix-wrapper{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
::ng-deep .ant-btn{
    height: 50px !important;
}

[nz-input-group]{
    height: 50px;
}