<div class="col-md-12">
    <div class="col-md-11 d-flex align-items-center">
        <div class="col-md-2">
            <div class="d-flex">
                <div>
                    <img src="https://salt.tikicdn.com/desktop/img/avatar.png" />
                </div>
                <div class="d-flex flex-column">
                    <p>Tài khoản của</p>
                    <p class="fw-bold">{{userInfo.name}}</p>
                </div>
            </div>

            <div class="d-flex">
                <div>
                    <nz-icon nzType="user" nzTheme="outline" />
                </div>
                <div class="d-flex">
                    <p>Thông tin tài khoản</p>
                </div>
            </div>
            <div class="d-flex">
                <div>
                    <nz-icon nzType="bell" nzTheme="outline" />
                </div>
                <div class="d-flex">
                    <p>Thông báo của tôi</p>
                </div>
            </div>
            <div class="d-flex">
                <div>
                    <nz-icon nzType="pic-left" nzTheme="outline" />
                </div>
                <div class="d-flex flex-column">
                    <p>Đơn hàng của tôi</p>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <!-- <router-outlet></router-outlet> -->
        </div>
    </div>
</div>
