<div>
    <button nz-button [ngClass]="{'disable-btn customSizeBtn': chooseValue == 1, 'customSizeBtn': true}" (click)="reduceValue()"><nz-icon nzType="minus" nzTheme="outline" /></button>
    <nz-input-number class="custom-input-number" [nzControls]="false" [(ngModel)]="chooseValue" [nzMin]="minValue" [nzMax]="maxValue" (ngModelChange)="sendValue($event)"/>
    <button nz-button [ngClass]="{'disable-btn': chooseValue == maxValue, 'customSizeBtn': true}" (click)="inCreaseValue()"><nz-icon nzType="plus" nzTheme="outline" /></button>
</div>
