p,span {
    font-size: 16px;
}
.text-button{
    padding: 10px 13px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover{
        background-color: rgba(0, 96, 255, 0.12);
    }
}
.text-button-grey{
    padding: 10px 13px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover{
        background-color: rgb(39, 39, 42, 0.12);
    }
}
span{
    margin-bottom: 0;
}
.main-color{
    color: rgb(0, 62, 161);
}
.round-img{
    border-radius: 50%;
}
.text-size-medium{
    font-size: 1.3em;
}

.text-size-custom{
    font-size: 1.2em;
}

.ant-btn{
    height: 40px !important;
}

.ant-input-affix-wrapper{
    height: 50px !important;
    border-radius: 8px !important;
}

:not(.ant-input-affix-wrapper) > .ant-input{
    height: 50px !important;
    border-radius: 8px !important;
}

::ng-deep .ant-input{
    font-size: 16px;
}

.nz-icon-action{
    cursor: pointer;
    width: 24px;
    height: 24px;
}

::ng-deep nz-select, nz-date-picker {
  width: 100%;
  height: 50px;
}

nz-date-picker{
  border-radius: 8px !important;
}

.disabled-input{
    background-color: rgb(245,245,245);
    pointer-events: none;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 8px !important;
}
::ng-deep .ant-select-selector {
  height: 50px !important;
  line-height: 50px !important;
  display: flex;
  align-items: center;
  font-size: 16px;
}